<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Admin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login_page.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginDao</display-name>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>bean.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDao</servlet-name>
    <url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>bean.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>bean.check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toll_collector_logout_servlet</display-name>
    <servlet-name>toll_collector_logout_servlet</servlet-name>
    <servlet-class>bean.toll_collector_logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toll_collector_logout_servlet</servlet-name>
    <url-pattern>/toll_collector_logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_process</display-name>
    <servlet-name>login_process</servlet-name>
    <servlet-class>bean.login_process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_process</servlet-name>
    <url-pattern>/login_process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>bean.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>i_get_update_otp</display-name>
    <servlet-name>i_get_update_otp</servlet-name>
    <servlet-class>bean.i_get_update_otp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>i_get_update_otp</servlet-name>
    <url-pattern>/i_get_update_otp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>i_get_otp_for_update</display-name>
    <servlet-name>i_get_otp_for_update</servlet-name>
    <servlet-class>bean.i_get_otp_for_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>i_get_otp_for_update</servlet-name>
    <url-pattern>/i_get_otp_for_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_toll_collector</display-name>
    <servlet-name>add_toll_collector</servlet-name>
    <servlet-class>bean.add_toll_collector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_toll_collector</servlet-name>
    <url-pattern>/add_toll_collector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>get_and_update_toll_amount</display-name>
    <servlet-name>get_and_update_toll_amount</servlet-name>
    <servlet-class>bean.get_and_update_toll_amount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_and_update_toll_amount</servlet-name>
    <url-pattern>/get_and_update_toll_amount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>get_date_of_generate_report</display-name>
    <servlet-name>get_date_of_generate_report</servlet-name>
    <servlet-class>bean.get_date_of_generate_report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_date_of_generate_report</servlet-name>
    <url-pattern>/get_date_of_generate_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main_admin_logout</display-name>
    <servlet-name>main_admin_logout</servlet-name>
    <servlet-class>bean.main_admin_logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main_admin_logout</servlet-name>
    <url-pattern>/main_admin_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main_admin_logout_servlet</display-name>
    <servlet-name>main_admin_logout_servlet</servlet-name>
    <servlet-class>bean.main_admin_logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main_admin_logout_servlet</servlet-name>
    <url-pattern>/main_admin_logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toll_collector_update_password</display-name>
    <servlet-name>toll_collector_update_password</servlet-name>
    <servlet-class>bean.toll_collector_update_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toll_collector_update_password</servlet-name>
    <url-pattern>/toll_collector_update_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toll_authority_check_password</display-name>
    <servlet-name>toll_authority_check_password</servlet-name>
    <servlet-class>bean.toll_authority_check_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toll_authority_check_password</servlet-name>
    <url-pattern>/toll_authority_check_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>toll_authority_reset_password</display-name>
    <servlet-name>toll_authority_reset_password</servlet-name>
    <servlet-class>bean.toll_authority_reset_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toll_authority_reset_password</servlet-name>
    <url-pattern>/toll_authority_reset_password</url-pattern>
  </servlet-mapping>
</web-app>